{% extends 'main/layout.html' %}

{% block title %}ABOUT{% endblock %}

{% block content %}
    <div class="features_about">
        <h1>Про компанию Xiaomi Dnipro</h1>
        <p>Transparency is our policy. 
            It is important that our users know what information we collect and why, and how it’s used. Being explicitly clear about our data practice by making the information accessible and understandable, we help you make informed decisions as you use our products and services.We also publicly publish our Transparency Report.
        </p>
        <p>Control of your data. 
            At Xiaomi, we believe users should stay informed and in control when it comes to privacy. The control over your data always remains an individual choice that belongs only to you. We will only collect your data with your consent. You can request to access, correct or delete the information collected in Privacy Support at any time.
        </p>
        <p> Keep your data secure. 
            Your data is secured by our security protection mechanisms which are tested and certified by the world's leading experts. Your data is transmitted by the encrypted communication channels and stored in global top-tier cloud providers.
        </p>
        <p>Supporting global privacy compliance. 
            Privacy and security protection have always been the key concepts of our product design. We devote ourselves to establishing a standardized, and progressive privacy impact assessment procedure to ensure that our products and services are compliant with data protection laws and regulations.
        </p>
        <p>Innovating trustworthy AI. 
            We believe that AI technology enhances and enriches user experience of our consumer electronic products. We are currently using the following AI algorithms in our devices: camera image optimization, voice communication noise reduction, fingerprint and face unlocking. Our AI algorithms never transmit any user data. All AI algorithms run on your local device, and all data processed by these AI algorithms is stored on your local device only.
        </p>
    </div>
{% endblock %}
