{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.annons }}<br>
            {{ form.text }}<br>
            {{ form.post_date }}<br>
            <span>{{ error }}</span>

            <!-- {{ form }} -->
            <!-- <input type="text" placeholder="Название статьи" class="form-control"><br>
            <input type="text" placeholder="Анонос статьи" class="form-control"><br>
            <textarea class="form-control" placeholder="Текст статьи"></textarea><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br> -->

            <button class="btn btn-success" type="submit">Добавить статью</button>
        </form>
    </div>
{% endblock %}